.infografia {
    height: 1200px;
    width: 100%;
    margin: 70px 0% 30px 0%;
}

.linea_prima {
    transition: 1s ease;
    height: 220px;
    width: 10px;
    background-color: #0446aa;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows: 100%  100%  100%  100%  100% ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    justify-content: center;
}

.circulos {
    width: 5px;
    height: 5px;
    scale: 150%;
    border-radius: 50%;
    border: #0446aa solid 10px;
    padding: 5px;
    background-color: aliceblue;
}


.cuadro_texto p {
    margin: 10px 0% 0% 0%;
    color: aliceblue;
    text-align: center;
    font-size: medium;
    line-height: 20px;
}

#cir_1 {
    border: #0446aa solid 2px;
    background-color: #0446aa;
    scale: 400%;
    position: relative;
}

#cir_1 i {
    scale: 50%;
    color: aliceblue;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateY(-100%);
    z-index: 2;
}

#linea_2 {
    background-color: coral;
    height: 220px;
}

#cir_2 {
    border: coral solid 2px;
    background-color: coral;
    scale: 400%;
    position: relative;
}

#cir_2 i {
    scale: 50%;
    color: aliceblue;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateY(-95%);
    z-index: 2;
}

#linea_3 {
    background-color: crimson;
    height: 250px;
}

#cir_3 {
    border: crimson solid 2px;
    background-color: crimson;
    scale: 400%;
    position: relative;
}

#cir_3 i {
    scale: 48%;
    color: aliceblue;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-105%) translateY(-105%);
    z-index: 2;
}

#linea_4 {
    background-color: green;
    height: 250px;
}

#cir_4 {
    border: green solid 2px;
    background-color: green;
    scale: 400%;
    position: relative;
}

#cir_4 i {
    scale: 48%;
    color: aliceblue;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-105%) translateY(-105%);
    z-index: 2;
}

#linea_5 {
    background-color: deepskyblue;
    height: 250px;
}

#cir_5 {
    border: deepskyblue solid 2px;
    background-color: deepskyblue;
    scale: 400%;
    position: relative;
}

#cir_5 i {
    scale: 48%;
    color: aliceblue;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-110%) translateY(-100%);
    z-index: 2;
}

.cuadro_texto {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    position: absolute;
    transition: 1s ease;
}



#cuadro_1 {
    width: 400px;
    background-color: #0446aa;

}

#cuadro_2 {
    width: 400px;
    background-color: coral;
}

#cuadro_3 {
    width: 400px;
    background-color: crimson;
}

#cuadro_4 {
    width: 400px;
    background-color: green;
}

#cuadro_5 {
    margin-top: 5px;
    width: 400px;
    background-color: deepskyblue;
}

.cuadro_texto h2 {

    text-align: center;
    margin-top: 0px;
    margin-bottom: 1px;
    font-family: font_3;
    color: aliceblue;
    text-decoration: underline;
}

.linea_prima:hover {
    transform: scale(120%);
}

.linea_prima:hover>#linea_1 {
    animation: cuadro_1 500ms forwards ease;
}

#linea_1:hover>div {
    animation: cuadro_1 500ms forwards ease;
}

@keyframes cuadro_1 {
    0% {
        box-shadow: #0446aa 0px 0px 0px 0px;
    }

    100% {
        box-shadow: #0446aa 0px 0px 5px 2px;
    }
}

.linea_prima:hover>#linea_2 {
    animation: cuadro_2 500ms forwards ease;
}

#linea_2:hover>div {
    animation: cuadro_2 500ms forwards ease;
}

@keyframes cuadro_2 {
    0% {
        box-shadow: coral 0px 0px 0px 0px;
    }

    100% {
        box-shadow: coral 0px 0px 5px 2px;
    }
}

.linea_prima:hover>#linea_3 {
    animation: cuadro_3 500ms forwards ease;
}

#linea_3:hover>div {
    animation: cuadro_3 500ms forwards ease;
}

@keyframes cuadro_3 {
    0% {
        box-shadow: crimson 0px 0px 0px 0px;
    }

    100% {
        box-shadow: crimson 0px 0px 5px 2px;
    }
}

.linea_prima:hover>#linea_4 {
    animation: cuadro_4 500ms forwards ease;
}

#linea_4:hover>div {
    animation: cuadro_4 500ms forwards ease;
}

@keyframes cuadro_4 {
    0% {
        box-shadow: green 0px 0px 0px 0px;
    }

    100% {
        box-shadow: green 0px 0px 5px 2px;
    }
}

.linea_prima:hover>#linea_5 {
    animation: cuadro_5 500ms forwards ease;
}

#linea_5:hover>div {
    animation: cuadro_5 500ms forwards ease;
}

@keyframes cuadro_5 {
    0% {
        box-shadow: deepskyblue 0px 0px 0px 0px;
    }

    100% {
        box-shadow: deepskyblue 0px 0px 5px 2px;
    }
}

@media screen and (max-width: 1100px) {
    #cuadro_1 {
       width: 350px;
    }
    #cuadro_2 {
        width: 350px;
     }
     #cuadro_3 {
        width: 350px;
     }
     #cuadro_4 {
        width: 350px;
     }
     #cuadro_5 {
        width: 350px;
     }

    .linea_prima:hover {
        transform: scale(105%);
    }


}